.show__todo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);      
  max-width: 60rem;
  word-break: break-all;
  gap: 1rem;
}

@media (max-width:992px){
  .show__todo{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width:750px){
  .show__todo{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:530px){
  .show__todo{
    grid-template-columns:1fr;
  }
}

.show__todo > h1 {
  grid-area: 1 /-1;
  margin-top: 2rem;
  background-color: #61677a;
  color: #fff;
  padding: 1rem 3rem;
}
